<!-- https://cloud.google.com/appengine/docs/standard/python/getting-started/python-standard-env -->

{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
  <form class="form-inline" method="POST" action="{{ url_for('index') }}">

  <div class="row"><div class="col-xs-12 selectdiv mainmenu">
    <h2>Select a network</h2>
    <select name="Network", onchange="this.form.submit()">
      <optgroup label="Select a network" />
      {% for n in networks %}
      {% if n==networkName %}
      <option value="{{n}}" selected="selected">{{n}}</option>
      {% else %}
      <option value="{{n}}">{{n}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div></div>

  <div class="row"><div class="col-xs-12">

    {% for cat in network.categories %}
    <h4>{{ cat }}</h4>
    {% if network.number_of_nodes_in_category( cat ) > 0 %}
        {% for n in network.nodes_in_category(cat) %}
          <div class="input-group">
            <select name="{{n.name}}" class="{{n.hasChoice}} {{n.sensitive}} features selectpicker form-control" onchange="this.form.submit()">
            {% for s in n.menuStates %}
              <option value="{{s}}" {{n.is_state_selected(s)}}>{{s}}</option>
            {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}

    <!-- Copy of all features values so we know what changed -->
    <div style="display:none">
      {% for n in network.nodes %}
      <input type="hidden" name="last:{{n.name}}" value="{{n.value}}" onchange="this.form.submit()" />
      {% endfor %}
    </div>

    <!-- </form> -->
  </div></div>

  <div class="row"></div>
  <br />

  <div class="row"><div class="col-xs-12">
    <input type="hidden" name="lastDx" value="{{lastDx}}" onchange="this.form.submit()" />
    <input type="hidden" name="lastHighlight" value="{{highlightOn}}" onchange="this.form.submit()" />
    <input type="hidden" name="lastNetwork" value="{{networkName}}" onchange="this.form.submit()" />

    <select name="SetDiagnosis", onchange="this.form.submit()">
      {% if setDx == '' %}
      <option value="cleardx" selected="selected">Set features by diagnosis</option>
      {% else %}
      <option value="cleardx">Set features by diagnosis</option>
      {% endif %}
      {% for d in network.get_node_states('Diagnosis') %}
      {% if setDx==d %}
      <option value="{{d}}" selected="selected">{{d}}</option>
      {% else %}
      <option value="{{d}}">{{d}}</option>
      {% endif %}
      {% endfor %}
      </select>

      <input type="submit" name="HighlightFeatures" value="{{highlight}}" onchange="this.form.submit()" />
      <input type="submit" name="ClearDiagnosis" value="Reset/Clear feature values" />
  </div></div>

  </form>
  <hr />

  <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawDiagnosisChart);
      google.charts.setOnLoadCallback(drawRadiographicChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawDiagnosisChart() {

        // Create the data tables.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diagnosis');
        data.addColumn('number', 'Probability');
        data.addColumn('number', 'Cumulative Probability')
        data.addRows([
          {% for d in range(0,dxLength) %}
          ['{{dx[d][0]}}', {{dx[d][1]}}, {{dx[d][2]}}]
          {% if d < dxLength %},{% endif %}
          {% endfor %}
        ]);

        // Set chart options
        var options = {title:'Clinical Differential Diagnosis',
                       seriesType: 'bars',
                         series: {1: {type: 'line'}},
                       titleTextStyle:{color:'#EEEEEE', fontSize:18},
                       legend:'bottom',
                       chartArea: {'width': '60%'},
                       legendTextStyle:{color:'#EEEEEE', fontSize:18},
                       hAxis:{ format:'percent',
                               textStyle: {
                                 color:'#EEEEEE', fontSize:18}
                             },
                       vAxis:{ textStyle: {
                                 color:'#EEEEEE',fontSize:14}
                             },
                       backgroundColor:'#333333',
                       colors:['#66B9BF','#E37722']
                        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawRadiographicChart() {

        // Create the data tables.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diagnosis');
        data.addColumn('number', 'Probability');
        data.addColumn('number', 'Cumulative Probability')
        data.addRows([
          {% for d in range(0,dxLength) %}
          ['{{dxRad[d][0]}}', {{dxRad[d][1]}}, {{dxRad[d][2]}}]
          {% if d < dxLength %},{% endif %}
          {% endfor %}
        ]);

        // Set chart options
        var options = {title:'Radiographic Differential Diagnosis',
                       seriesType: 'bars',
                         series: {1: {type: 'line'}},
                       titleTextStyle:{color:'#EEEEEE', fontSize:18},
                       legend:'bottom',
                       chartArea: {'width': '60%'},
                       legendTextStyle:{color:'#EEEEEE', fontSize:18},
                       hAxis:{ format:'percent',
                               textStyle: {
                                 color:'#EEEEEE', fontSize:18}
                             },
                       vAxis:{ textStyle: {
                                 color:'#EEEEEE',fontSize:14}
                             },
                       backgroundColor:'#333333',
                       colors:['#66B9BF','#E37722']
                        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div_rad'));
        chart.draw(data, options);
      }
    </script>


    <div class="row">
			<div class='col-xs-6'>
        <div id="chart_div" style="min-width: 350px; max-width: 800px; height: 400px;"></div>
			</div>
			<div class='col-xs-6'>
        <div id="chart_div_rad" style="min-width: 350px; max-width: 800px; height: 400px;"></div>
			</div>
		</div>

{% endblock %}

<!--
<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="name">Name:</label>
          <input type="text" name="name"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="site_url">Website URL:</label>
          <input type="url" name="site_url"><br />
          <label for="comments">Comments:</label>
          <textarea name="comments"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
-->
