<!-- https://cloud.google.com/appengine/docs/standard/python/getting-started/python-standard-env -->

{% extends "base.html" %}

{% block content %}
  <hr />
  <div>

  <form class="form-inline" method="POST" action="{{ url_for('index') }}">
  {% for cat in network.categories %}
  <h4>{{ cat }}</h4>
    {% if network.number_of_nodes_in_category( cat ) > 0 %}
      {% for n in network.nodes_in_category(cat) %}
        <div class="input-group">
          {% if n.menuValue != '' %}
          <select name="{{n.name}}" class="hasChoice features selectpicker form-control" onchange="this.form.submit()">
          {% else %}
          <select name="{{n.name}}" class="features selectpicker form-control" onchange="this.form.submit()">
          {% endif %}

            {% for s in n.menuStates %}
              {% if s==n.menuValue %}
                <option value="{{s}}" selected="selected">{{s}}</option>
              {% else %}
                <option value="{{s}}">{{s}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </form>
  </div>
  <hr />

  <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawDiagnosisChart);
      google.charts.setOnLoadCallback(drawRadiographicChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawDiagnosisChart() {

        // Create the data tables.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diagnosis');
        data.addColumn('number', 'Probability');
        data.addRows([
          {% for d in range(0,dxLength) %}
          ['{{dx[d][0]}}', {{dx[d][1]}}]
          {% if d < dxLength %},{% endif %}
          {% endfor %}
        ]);

        // Set chart options
        var options = {title:'Clinical Differential Diagnosis',
                       titleTextStyle:{color:'#EEEEEE', fontSize:18},
                       legend:'bottom',
                       chartArea: {'width': '60%'},
                       legendTextStyle:{color:'#EEEEEE', fontSize:18},
                       hAxis:{ format:'percent',
                               textStyle: {
                                 color:'#EEEEEE', fontSize:18}
                             },
                       vAxis:{ textStyle: {
                                 color:'#EEEEEE',fontSize:14}
                             },
                       backgroundColor:'#333333',
                       colors:['#66B9BF']
                        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawRadiographicChart() {

        // Create the data tables.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diagnosis');
        data.addColumn('number', 'Probability');
        data.addRows([
          {% for d in range(0,dxLength) %}
          ['{{dxRad[d][0]}}', {{dxRad[d][1]}}]
          {% if d < dxLength %},{% endif %}
          {% endfor %}
        ]);

        // Set chart options
        var options = {title:'Radiographic Differential Diagnosis',
                       titleTextStyle:{color:'#EEEEEE', fontSize:18},
                       legend:'bottom',
                       chartArea: {'width': '60%'},
                       legendTextStyle:{color:'#EEEEEE', fontSize:18},
                       hAxis:{ format:'percent',
                               textStyle: {
                                 color:'#EEEEEE', fontSize:18}
                             },
                       vAxis:{ textStyle: {
                                 color:'#EEEEEE',fontSize:14}
                             },
                       backgroundColor:'#333333',
                       colors:['#66B9BF']
                        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div_rad'));
        chart.draw(data, options);
      }
    </script>


    <div class="row">
			<div class='col-xs-6'>
        <div id="chart_div" style="min-width: 350px; max-width: 800px; height: 400px;"></div>
			</div>
			<div class='col-xs-6'>
        <div id="chart_div_rad" style="min-width: 350px; max-width: 800px; height: 400px;"></div>
			</div>
		</div>

{% endblock %}

<!--
<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="name">Name:</label>
          <input type="text" name="name"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="site_url">Website URL:</label>
          <input type="url" name="site_url"><br />
          <label for="comments">Comments:</label>
          <textarea name="comments"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
-->
